@page
@model CrudCSharpSql.Pages.Colors.Index
@{
    ViewData["Title"] = "Index";
}

<h2 class="text-center mb-3">List Of Colors</h2>

<div class="text-center">
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>In Stock</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var color in Model.ColorsList)
        {
            <tr>
                <td>@color.Id</td>
                <td>@color.Name</td>
                <td>@color.Price</td>
                <td>@color.IsInStock</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@color.Id" class="btn btn-primary">Edit</a>
                    <a asp-page="Delete" asp-route-id="@color.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>